@import 'tailwindcss';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-main: var(--main);
    --color-main-contrast: var(--main-contrast);
    --color-secundary: var(--secundary);
    --color-secundary-text: var(--secundary-text);
    --color-textos: var(--textos);
    --max-width-container: var(--container);

    --bg-bg: var(--secundary);

    --text-mid: var(--mid);
    --text-small: var(--small);
    --text-lg: var(--lg);
    --text-gg: var(--gg);
    --text-mid2: var(--mid2);
    
}




:root {
    --textos: #052E16;
    --main: #166534;
    --main-contrast: #12532b;
    --secundary-text: #FFFF;
    --secundary: #F8FAFC;
    --container: 1064px;

    --mid: 16px;
    --mid2:20px;
    --mid2-mobile: 18px;
    --small: 14px;
    --small-mobile: 12px;
    --lg: 32px;
    --gg: 64px;
    --lg-mobile:30px;
    --mid-mobile: 14px;
    --gg-mobile: 48px;

}


.mainShadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);

}


@media (max-width: 1048px) {
    :root{
        --text-gg: var(--gg-mobile);
        --text-lg: var(--lg-mobile);
        --text-mid: var(--mid-mobile);
        --text-mid2: var(--mid2-mobile);
        --text-small: var(--small-mobile);
        --container: 840px;

    }
}
    

*{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}



::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #166534;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #16A34A;
    border: 2px solid #166534;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #1c7c41;
  }


